%p.navbar-text
  -if 'user_signed_in?'
    = 'current_user.email'
  - else
    = t('.not_signed_in')
%ul.nav.navbar-nav
  - if 'user_signed_in?'
    %li= t('ecm.user_area.actions.registration.edit')
    %li= t('ecm.user_area.actions.sign_out')
  - else
    %li= t('ecm.user_area.actions.sign_in')
    %li= t('ecm.user_area.actions.registration.new')